<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jameedean.ecutiapps">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:label="Dashboard E-cuti APPS"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.MainActivity" />
        </activity>

        <activity
            android:name=".DashboardStaffActivity"
            android:label="Dashboard E-cuti APPS"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.MainActivity" />
        </activity>

        <activity
            android:name=".StaffMain_Activity"
            android:label="Add Staff Info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".RegisterStaff_Activity"
            android:label="Add Staff Info"
            android:parentActivityName=".StaffMain_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".ApplyLeaves_Activity"
            android:label="Apply Leaves"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".ApproveMainActivity"
            android:label="Approve Staff Leaves"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".ApproveActivity"
            android:label="Approve Staff Leaves"
            android:parentActivityName=".ApproveMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".ViewStatusMainActivity"
            android:label="View Status Application"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".ViewStatus_Activity"
            android:label="View Status Application"
            android:parentActivityName=".ViewStatusMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardActivity" />
        </activity>

        <activity
            android:name=".ViewStatus_StaffActivity"
            android:label="View Status Application"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardStaffActivity" />
        </activity>

        <activity
            android:name=".ViewStatus_Staff"
            android:label="View Status Application"
            android:parentActivityName=".ViewStatus_StaffActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jameedean.ecutiapps.DashboardStaffActivity" />
        </activity>
    </application>

</manifest>